{% extends "projects/content.html" %}
{% load projects_extras %}
{% block title %}TAIPAN | {{ bundle.project.name }} {{ bundle.name }}{% endblock %}
{% block content %}
    <h1>{{ bundle.name }}</h1>
    <div class="card">
        {% with suite=bundle|get_suite %}
        <div class="row">
            <div class="col-md-8">
                <h2>{{ suite.name }}</h2>
            </div>
            <div class="col-md-4 pad-24 right-align">
                <ul class="block">
                    <li><a href="{% url 'projects:suite_detail' suite.id %}">
                        <span class="glyphicon glyphicon-pencil"></span> Edit
                    </a></li>
                    <li style="padding:16px 0 0 0;"><p class="right-align">Currently contains {{ suite|active_tests|length }} active items</p></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="card">
        <h2>Builds</h2>
        {% with builds=bundle|get_builds %}
        {% if builds|length > 0 %}
        <table class="list zebra">
            <tr class="row">
                <th class="left-align col-md-1">Build ID</th>
                <th class="center col-md-1">Status</th>
                <th class="left-align col-md-9">Description</th>
                <th class="right-align col-md-1">Actions</th>
            </tr>
            {% for build in builds %}
            <tr class="row">
                <td class="left-align col-md-1">{{ build.name }}</td>
                <td class="center col-md-1">
                    {% with failure_count=build|check_failures %}
                    {% if failure_count > 0 %}
                    <a href="#" data-toggle="tooltip" title="Build FAILED with {{ failure_count }} failed test(s)" style="cursor:help;"><span class="glyphicon glyphicon-remove-sign medium red" style="vertical-align:middle;"></span></a>
                    {% elif failure_count == 0 %}
                    <a href="#" data-toggle="tooltip" title="Build PASSED" style="cursor:help"><span class="glyphicon glyphicon-ok-sign medium green" style="vertical-align:middle;"></span></a>
                    {% else %}
                    <a href="#" data-toggle="tooltip" title="There are tests that have not been completed" style="cursor:help;"><span class="glyphicon glyphicon-question-sign medium amber" style="vertical-align:middle;"></span></a>
                    {% endif %}
                    {% endwith %}
                </td>
                <td class="left-align multiline col-md-9">{{ build.description }}</td>
                <td class="right-align col-md-1">
                    <ul>
                        <li><a href="{% url 'projects:build_detail' build.id %}">
                            <span class="glyphicon glyphicon-search"></span> View
                        </a></li>
                        <li><a href="{% url 'projects:edit_build' build.id %}">
                            <span class="glyphicon glyphicon-pencil"></span> Edit
                        </a></li>
                    </ul>
                </td>
            </tr>
            {% endfor %}
        </table>
        {% else %}
        <p>There are currently no builds for this project. Click the button below to add one</p>
        {% endif %}
        {% if suite|get_tests|length == 0 %}
        <div class="red bold banner">
            <p>You must add at least one test to the suite before a build can be added</p>
        </div>
        {% else %}
        <div class="right-align" style="width:100%;">
            <a href="{% url 'projects:new_build' bundle.id %}">
                <span class="glyphicon glyphicon-plus"></span> Create Build
            </a>
        </div>
        {% endif %}
        {% endwith %}
        {% endwith %}
    </div>
{% endblock %}