{% extends "./base.html" %}
{% block title %}TAIPAN | Projects{% endblock %}
{% block crumbs %}
    <li class="crumb">> Projects</li>
{% endblock %}
{% block content %}
    <h1>Projects</h1>
    {% if projects|length > 0 %}
    <table class="list zebra">
        <tr>
            <th></th>
            <th class="left-align">Description</th>
            <th class="right-align">Actions</th>
        </tr>
        {% for pd in projects %}
        <tr>
            <td class="left-align">{{ pd.name }}</td>
            <td class="left-align">{{ pd.description }}</td>
            <td class="right-align">
                <ul>
                    <li><a href="{% url 'projects:project_detail' pd.id %}">View</a></li>
                    <li><a href="{% url 'projects:edit_project' pd.id %}">Edit</a></li>
                </ul>
            </td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
        <p>There are currently no projects. Click the button below to add one</p>
    {% endif %}
    <a href="{% url 'projects:new_project' %}" class="right pad-8">+ Create Project</a>
{% endblock %}