{% extends "../base.html" %}
{% load projects_extras %}
{% block title %}TAIPAN | Bundle Edit{% endblock %}
{% block crumbs %}
{% with pd=project|get_current %}
    <li class="crumb">> <a href="{% url 'projects:index' %}">Projects</a></li>
    <li class="crumb">> {{ pd.name }}</li>
{% endwith %}
{% endblock %}
{% block content %}
    {% if form.instance.id %}
    <h1>Edit Bundle</h1>
    {% else %}
    <h1>New Bundle</h1>
    {% endif %}
    {% include 'projects/form-template.html' %}
    {% if form.instance.id %}
    <form action="{% url 'projects:delete_bundle' form.instance.id form.instance.project.id %}" method="post">
        {% csrf_token %}
        <button type="submit" class="danger-button right" onclick="return confirm('Are you sure you want to delete?')">Delete</button>
    </form>
    {% endif %}
{% endblock %}