{% extends "../base.html" %}
{% load projects_extras %}
{% block title %}TAIPAN | Build Edit{% endblock %}
{% block crumbs %}
{% with pd=project|get_current bd=bundle|get_current %}
    <li class="crumb">> <a href="{% url 'projects:index' %}">Projects</a></li>
    <li class="crumb">> <a href="{% url 'projects:project_detail' pd.project.id %}">{{ pd.name }}</a></li>
    <li class="crumb">> {{ bd.name }}</li>
{% endwith %}
{% endblock %}
{% block content %}
    {% if form.instance.id %}
    <h1>Edit Build</h1>
    {% else %}
    <h1>New Build</h1>
    {% endif %}
    {% include 'projects/form-template.html' %}
    {% if form.instance.id %}
    <form action="{% url 'projects:delete_build' form.instance.id form.instance.bundle.id %}" method="post">
        {% csrf_token %}
        <button type="submit" class="danger-button right" onclick="return confirm('Are you sure you want to delete?')">Delete</button>
    </form>
    {% endif %}
{% endblock %}