{% extends "../base.html" %}
{% load projects_extras %}
{% block title %}TAIPAN | Build - {{ bid.name }}{% endblock %}
{% block crumbs %}
{% with pd=project|get_current bd=bundle|get_current%}
    <li class="crumb">> <a href="{% url 'projects:index' %}">Projects</a></li>
    <li class="crumb">> <a href="{% url 'projects:project_detail' pd.project.id %}">{{ pd.name }}</a></li>
    <li class="crumb">> <a href="{% url 'projects:bundle_detail' pd.project.id bd.bundle.id %}">{{ bd.name }}</a></li>
    <li class="crumb">> {{ bid.name }}</li>
{% endwith %}
{% endblock %}
{% block content %}
    <h1>{{ bid.name }}</h1>
    <h2>Issues</h2>
    {% with bid.build|get_issues as issues %}

    {% endwith %}
{% endblock %}